* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

header {
    text-align: center;
    padding: 40px 0;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;

header img {
  padding: 50px;
  width: 350px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 40px;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #0077ff;
}

  main {
    max-width: 900px;
    margin: 0 auto;
}

section {
    background: white;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 8px;
}

